.body-container
    .content
        p.intro 
            |Hello 
            br
            |I am 
            span John
        p.detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, voluptatibus. Voluptate, repellendus assumenda saepe quisquam velit exercitationem et necessitatibus veniam magnam, modi ratione sint esse sequi dolore quaerat porro asperiores.
        .text-box
            a.btn.btn-white.btn-animate(href='#') CONTACT WITH ME
    .img
        //- p heeeeeeeeeeeeeeeeeeeeeeeeeee
        .above 
            img(src='../img/body-photo01.png' alt='body image')
            img(src='../img/body-photo02.png' alt='body image')
        .under
            img(src='../img/body-photo03.png' alt='')