.body-container
    .content
        p.intro
            | Hello I am 
            span John
        p.content
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, voluptatibus. Voluptate, repellendus assumenda saepe quisquam velit exercitationem et necessitatibus veniam magnam, modi ratione sint esse sequi dolore quaerat porro asperiores.
        .text-box
            a.btn.btn-white.btn-animate(href='#') CONTACT WITH ME
    .img
        .above
            img(src='./body-photo01.png' alt='')
            img(src='./body-photo02.png' alt='')
        .under
            img(src='./body-photo03.png' alt='')