.body-container
    .hello-container
        .left-block
            p.intro 
                |Hello 
                br
                |I am 
                span John
            p.detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, voluptatibus. Voluptate, repellendus assumenda saepe quisquam velit exercitationem et necessitatibus veniam magnam, modi ratione sint esse sequi dolore quaerat porro asperiores.
            .text-box
                a.btn.btn-white.btn-animate(href='#') CONTACT WITH ME
        .right-block
            .above 
                img(src='../img/body-photo01.png' alt='body image')
                img(src='../img/body-photo02.png' alt='body image')
            .under
                img(src='../img/body-photo03.png' alt='body image')

    .blue-box-container 
        .left-block
            img(src='../img/body-photo04.png' alt='body image')
        .right-block 
            .content 
                p.title Lorem ipsum dolor sit amet
                p.description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dignissimos consequatur laboriosam 
                .text-box
                    a.btn.btn-white.btn-animate(href='#') VIEW CASE STUDY