doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='style.scss')
.footer
  .background-footer
    img(src='./img/background.png' alt='background')
  //
    <div class="title-footer">
    <div class="title-1-footer">
    <p class="text-title-1-footer">A good photographer is knowing where to stand</p>
    </div>
    <div class="title-2-footer">
    <p class="text-title-2-footer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos error fugiat consequatur quisquam aliquam corrupti, placeat quibusdam unde vitae libero. Ullam iure tempora numquam? Nulla quae nesciunt rerum asperiores illo!</p>
    </div>
    </div>
  .container
    .g
      .section
        p
          | A good photographer is knowing where to stand
      .section1
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          | Nam et est erat.
          | In vestibulum eget nisi sed sagittis.
          | Sed sed vulputate lacus.
          | Pellentesque at tincidunt dui, id placerat leo.
          | Ut porta facilisis augue et interdum.
          | Donec turpis massa, euismod vel egestas quis, porttitor sit amet metus.
          | Mauris condimentum suscipit cursus.
  .logo-footer
    img(src='./img/Logo.png' alt='logo')
  .describe-footer
    p.describe-1-footer All rights reserved by Eos Free PSD Template by symu.
    p.describe-2-footer  Check our site www.symu.co for more goods
  .menu-footer
    ul.menu-footer-item
      li.menu-footer-list
        span.menu-footer-list-special work
      li.menu-footer-list about me
      li.menu-footer-list news
      li.menu-footer-list contact
