.top
    .container_top
        .section_top
            .top-background
                img.bg_img(src='./../img/top-photo.png', alt='')
            .top-navigator 
                ul.nav-menu-list    
                    li.nav-menu-item
                        a.nav-menu-link-w(href="#") work
                    li.nav-menu-item
                        a.nav-menu-link(href="#") about me 
                    li.nav-menu-item
                        a.nav-menu-link(href="#") news
                    li.nav-menu-item
                        a.nav-menu-link(href="#") contact
            .top-logo 
                img.logo_img(src='./../img/logo.png', alt='')
            .content 
                img.content-slice(src='./../img/Slice-of-my-life.png', alt='')
            .scroll-to-see-more
                p.text Schroll to see more
            .mouse
                img.mouse_img(src='./../img/Mouse.png', alt='')
            .top-fade-bottom 
                img.fade_effect(src='./../img/Fade.png', alt='')