/* content */
.body-container {
    width: 2000px;
    margin: 0 auto;

    .hello-container {
        display: flex;
        justify-content: start;
        font-family: 'Montserrat', sans-serif;

        .left-block {
            width: 667px;
            background-color: aqua;
            color: rgb(54, 36, 234);

            p.intro {
                font-size: 13rem;
                font-weight: bold;
                color: aliceblue;
                margin: 50px 100px 0 100px;

                span {
                    color: rgb(54, 36, 234);
                }
            }

            p.detail {
                font-size: 24px;
                font-family: "Montserrat";
                color: rgb(54, 36, 234);
                font-weight: bold;
                line-height: 2;
                text-align: left;
                margin: 50px 100px 0 100px;
            }

            .text-box {
                text-align: center;
                margin: 50px 0 0 0;

                a.btn {
                    font-size: 24px;
                    font-weight: bold;
                    background-color: #18f7ef;
                    text-decoration: none;
                    color: rgb(54, 36, 234);
                    border: solid 3px #ffffff;
                    padding: 2rem;
                }
            }
        }

        .right-block {
            width: 1333px;
            height: auto;

            .above {
                width: 666.5px;
                display: inline-flex;

                img {
                    width: 666.5px;
                }
            }

            .under {
                width: 1333px;

                img {
                    width: 1333px;
                }
            }
        }
    }

    .blue-box-container {
        display: flex;
        justify-content: start;
        font-family: 'Montserrat', sans-serif;

        .left-block {
            width: 667px;
            background-color: rgb(255, 255, 255);
            img{
                position: relative;
                top : 5px;
                right: -100px;
            }
        }

        .right-block { 
            width: 1333px;
            height: auto;
            background-color: rgb(54, 36, 234);
            padding: 145.5px 261px 0 348px; //145.5px = 180 - 34,5
            .content {
                width: 100%;
                p.title {
                    font-size: 45px; //51.49 pt
                    font-family: "Montserrat";
                    width: 100%;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 2;
                    text-align: left;
                    z-index: 40;
                }
                p.description{
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    font-family: "Montserrat";
                    font-weight: bold;
                    line-height: 2;
                    text-align: left;
                }
                .text-box{
                    margin: 50px 0 0 0;
                    a.btn{
                        font-size: 24px;
                        font-weight: bold;
                        background-color: rgb(54, 36, 234);
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        border: solid 3px #ffffff;
                        padding: 2rem;
                    }
                }
            }
        }
    }
}