/* content */
.body-container {
    display: flex;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;

    .content {
        width: 667px;
        background-color: aqua;
        color: #3624ea;

        p.intro {
            font-size: 13rem;
            font-weight: bold;
            color: aliceblue;
            margin: 50px 100px 0 100px;
            span {
                color: #3624ea;
            }
        }
        p.detail{
            font-size: 24px;
            font-family: "Montserrat";
            color: rgb(54, 36, 234);
            font-weight: bold;
            line-height: 2;
            text-align: left;
            margin: 50px 100px 0 100px;
        }

        .text-box {
            text-align: center;
            margin: 50px 0 0 0;
            a.btn {
                font-size: 24px;
                font-weight: bold;
                background-color: #18f7ef;
                text-decoration: none;
                color: #3624ea;
                border: solid 3px #ffffff;
                padding: 2rem;
            }
        }
    }

    .img {
        width: 1333px;
        height: auto;

        .above {
            width: 666.5px;
            display: inline-flex;

            img {
                width: 666.5px;
            }
        }

        .under {
            width: 1333px;

            img {
                width: 1333px;
            }
        }
    }

}
